<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SunSwitcherTheme.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A42607D71F4FFD9100163EBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A42607EB1F4FFD9200163EBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A42607F61F4FFD9200163EBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
